<nav class="navbar navbar-expand-lg p-2">
  <div>
    <%= link_to "Auto Part", root_path, class: "navbar-brand" %>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "home", pages_home_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>