<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to "Auto part", root_path, class: "navbar-brand text-white" %>
    <div class="me-auto">
      <ul class="navbar-nav">
        <li class="nav-item"> <%= link_to "Home", home_path, class: "nav-link text-white" %> </li>
        <li class="nav-item"> <%= link_to "Car Parts", car_parts_path, class: "nav-link text-white" %> </li>
      </ul>
    </div>
    <%= render "layouts/shared/customer" %>
  </div>
</nav>