<nav class="navbar navbar-expand-lg p-2">
  <div class="container-fluid">
    <%= link_to "Auto Part", root_path, class: "navbar-brand" %>
    <div class="d-flex">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", home_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="ms-auto">
      <%= render "layouts/shared/users" %>
    </div>
  </div>
</nav>
