<%= search_form_for(q, url: path, method: :get) do |form| %>
  <div class="input-group">
    <%= form.search_field :name_cont, class: "form-control", placeholder: "Search by category" %>
    <button class="btn btn-primary" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
<% end %>