<div>
  <h2>For admin</h2>
  <% if !customer_signed_in? && !admin_signed_in? && !seller_signed_in?  %>
    <%= link_to "Sign in", new_admin_session_path, class: "btn btn-primary" %>
  <% end %>
</div>