<div class="mt-auto">
  <div class="dropdown">
    <hr>
    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle text-white" id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle fs-3 mx-2"></i>
      <strong><%= current_admin.email %></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownAdmin">
      <li>
        <div class="d-flex px-2">
          <i class="bi bi-box-arrow-right fs-5 bi bi-pencil"></i>
          <%= link_to "Profile", admin_profile_path, class: "dropdown-item" %>
        </div>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <div class="d-flex px-2">
          <i class="bi bi-box-arrow-right fs-5 my-auto"></i>
          <%= button_to "Sign out", destroy_admin_session_path, class: "dropdown-item", method: :delete %>
        </div>
      </li>
    </ul>
  </div>
</div>