<%= search_form_for(q, url: path, method: :get) do |form| %>
  <div class="row">
    <div class="col-md">
      <h2 class="display-6">Car Parts</h2>
    </div>
    <div class="col-md-5 px-1">
      <div class="input-group">
        <%= form.search_field :name_cont, class: "form-control", placeholder: "Search by car part" %>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="accordion" id="filtersAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Filters
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#filtersAccordion">
        <div class="accordion-body">
          <%= render "car_parts/filter", path: path, q: q, part_types: part_types %>
        </div>
      </div>
    </div>
  </div>
<% end %>
