<div class="row justify-content-center">
  <div class="col-md-6">
    <%= button_to "", "#", onclick: "history.back(); return false;", class: "btn btn-outline-secondary mb-2 bi bi-arrow-left-circle" %>
    <div class="card shadow-sm mt-3">
      <div class="card-body">
        <h3 class="mb-4 text-center">Create Part Type</h3>
        <%= render "form", part_type: @part_type %>
      </div>
    </div>
  </div>
</div>